# binary_lj_sim.jinja start
{% redirect 'minim.mdp' %}
; minim.mdp - used as input into grompp to generate em.tpr
integrator	= steep		; Algorithm (steep = steepest descent minimization)
emtol		= 1000.0  	; Stop minimization when the maximum force < 1000.0 kJ/mol/nm
emstep      = 0.01      ; Energy step size
nsteps		= 5000      ; Maximum number of (minimization) steps to perform

; Parameters describing how to find the neighbors of each atom and how to calculate the interactions
nstlist		    = 1		    ; Frequency to update the neighbor list and long range forces
cutoff-scheme   = Verlet
ns_type		    = grid		; Method to determine neighbor list (simple, grid)
coulombtype	    = PME		; Treatment of long range electrostatic interactions
rcoulomb	    = 1.0		; Short-range electrostatic cut-off
rvdw		    = 1.0		; Short-range Van der Waals cut-off
pbc		        = xyz 		; Periodic Boundary Conditions (yes/no)
{% endredirect %}
{% redirect 'nvt.mdp' %}
comm_mode       = linear
integrator      = md
nsteps          = {{steps}}
dt              = 0.001
nstxout         = 5000
nstvout         = 5000
nstfout         = 0
nstlog          = 100
nstenergy       = 100
nstxout-compressed = 500

nstlist         = 10
ns_type         = grid
rlist           = 1.0
coulombtype     = pme
rcoulomb        = 1.0
rvdw            = 1.0
constraints     = h-bonds
pbc             = xyz

tcoupl          = v-rescale
tc_grps         = System
ref_t           = 298.15
tau_t           = 1.0

pcoupl          = no
{% endredirect %}
{% redirect 'sim.sh' %}
#!/bin/sh

# call gromp on em
gmx grompp -f em.mdp -c {{system_name}}.gro -p {{system_name}}.top -o em.tpr

# mdrun em
gmx mdrun -v -deffnm em

# call grompp on nvt
gmx grompp -f nvt.mdp -c em.gro -p {{system_name}}.top -o nvt.tpr

# mdrun nvt
gmx mdrun -v -deffnm nvt
{% endredirect %}
# binary_lj_sim.jinja end
